@{
    ViewBag.Title = ViewBag.Title + " | StartPage";
    Layout = "~/Views/Layouts/DefaultLayoutView.cshtml";
}
@section MainSection
{
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-3">Välkommen till Judoka!</h1>
        <p class="lead">Judoka är en webbplats som samla alla judoklubbar, deras atleter och våra tävlingar. Här samlas och visas information kring en judoka och deras judoliv.</p>
        <hr class="my-2">
    
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/ListAllJudoka" role="button">Judoka - Inspektera våra judoka och deras prestationer</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/ListAllClubs" role="button">Träning - Hantera era medlemmar i er klubb</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/ListAllCompetitions" role="button">Tävling - Anmälan till tävling och se tävlingsresultat</a>
        </p>
    </div>
}